/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

#toggle-edit-mode {
    float: right;
    margin: 14px 16px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#toggle-edit-mode:hover {
    background-color: #45a049;
}

#content {
    padding: 20px;
}

#content section {
    display: none;
}

#content section.active {
    display: block;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px;
    animation: fadeIn 0.3s ease-in-out;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

button[type="button"] {
    background-color: #f44336;
    color: white;
}

button:hover {
    opacity: 0.8;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Styles for the recipe list */
#recipe-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#recipe-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#recipe-list li:hover {
    background-color: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#recipe-list img {
    max-width: 100px;
    margin-right: 10px;
    border-radius: 4px;
}

#recipe-list span {
    font-size: 1.2em;
}

/* Styles for the pagination controls */
#pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#pagination-controls button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#pagination-controls span {
    font-size: 1.2em;
}

/* Styles for the individual recipe page */
.recipe-page {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
}

.recipe-page h1 {
    color: #45a049;
    font-size: 3em;
    margin-bottom: 20px;
}

.recipe-page h3, #category {
    color: #45a049;
}


.recipe-page img {
    width: 50%;
    height: 30%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.recipe-page p {
    font-size: 1.2em;
    line-height: 1.6;
}

.recipe-page strong {
    font-weight: bold;
}

/* Travel section styles */
#travel {
    padding: 20px;
    background-color: #f4f4f4;
}

#travel h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

#add-album-form {
    display: flex;
    margin-bottom: 20px;
}

#add-album-form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

#add-album-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#add-album-form button:hover {
    background-color: #45a049;
}

#album-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#album-list li {
    padding: 10px;
    margin: 5px 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#album-list li:hover {
    background-color: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#album-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#album-content h2 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 20px;
}

#album-content input[type="file"],
#album-content textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#album-content button {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#album-content button#add-photo-button {
    background-color: #4CAF50;
    color: white;
}

#album-content button#save-notes-button {
    background-color: #4CAF50;
    color: white;
}

#album-content button:hover {
    opacity: 0.8;
}

#gallery img {
    max-width: 100px;
    margin: 10px;
    border-radius: 4px;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px;
    animation: fadeIn 0.3s ease-in-out;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

button[type="button"] {
    background-color: #f44336;
    color: white;
}

button:hover {
    opacity: 0.8;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.edit-mode-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

.edit-mode-button:hover {
    background-color: #45a049;
}

.album-page {
    max-width: 800px;
    margin: 0 auto;
}

.album-page h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #45a049;
}

.album-page h3 {
    color: #45a049;
}

.album-page #gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.album-page #gallery img {
    width: 50%;
    height: 30%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.album-page p {
    font-size: 1em;
    line-height: 1.6;
    margin-top: 20px;
}

